#board {
	/* sbox-sizing: border-box; */
	display: flex;
	/* flex-wrap: wrap; */
	padding-left:35%;
	width: 300px;
	height: 300px;
	margin: 20px auto;
	/* border: 2px solid black; */
}

.square {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	font-size: 4em;
	text-align: center;
	/* line-height: 100px; */
	cursor: pointer;
}

.square:hover {
	background-color: #e58f8f;
}

#message {
	text-align: center;
	margin-top: 20px;
	font-size: 2em;
}

/* #reset {
	display: block;
	margin: 20px auto;
	font-size: 1.5em;
	padding: 10px 20px;
	border: 2px solid black;
	background-color: #fff;
	cursor: pointer;
} */

#reset:hover {
	background-color: #eee;
}
